<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641910471641-599nqq65tp2t63clgc5hsvjt5thn2itd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641910471641-599nqq65tp2t63clgc5hsvjt5thn2itd</string>
	<key>API_KEY</key>
	<string>AIzaSyBUbo-DIEtVFkActZL3QjUpZ87pEMJxCJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>641910471641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resulticks.mobilepush</string>
	<key>PROJECT_ID</key>
	<string>mobilepush-65dd5</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilepush-65dd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641910471641:ios:f3681b02caa9e466bef7c8</string>
	<key>DATABASE_URL</key>
	<string>https://mobilepush-65dd5.firebaseio.com</string>
</dict>
</plist>