
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
    <ion-card-content>
        <ion-button color="primary" (click)="screenNavigation()">Screen Navigation</ion-button>
        <ion-button color="primary" (click)="userRegister()">User Register</ion-button>
        <ion-button color="primary" (click)="locationUpdate()">Location Update</ion-button>
        <ion-button color="primary" (click)="getNotification()">Get Notification</ion-button>
        <ion-button color="primary" (click)="deleteNotification()">Delete Notification</ion-button>
        <ion-button color="primary" (click)="customEvent()">custom Event</ion-button>
      </ion-card-content> 
    <!-- <div class="header_image_content">
        <ion-img src="assets/icon/dashboard.jpg"></ion-img>
      </div>
      <div class="header_title_content">
          <h3 class="visiontel_dashboard">VISION TEL</h3>
      </div>
      <div class="dashboard_content">
        <h6 class="vision_tel_details">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </h6>
      </div>
      <div>
          <ion-grid>
              <ion-row>
                <ion-col>
                  ion-col
                </ion-col>
                <ion-col>
                  ion-col
                </ion-col>
                <ion-col>
                  ion-col
                </ion-col>
                <ion-col>
                  ion-col
                </ion-col>
              </ion-row>
          </ion-grid>
      </div>-->
          
    
    
</ion-content>
