.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.header_image_content{
  width: 100%;
  height: 30%;
 
}
.header_title_content{
   
  height: 5%;
  margin-top: 40px;

  margin-left: 15%;
  margin-right: 15%;
 
}
.visiontel_dashboard{
  text-align: center;
}
.dashboard_content{
  
  height: 30%;
  margin-left: 15%;
  margin-right: 15%;

 
}
.vision_tel_details{
  font-size: 14px;
  font-style: normal;
  height: 100%;
  text-align: justify;
}
